.header__lang-link {
  padding: 0px;
  margin-left: 18px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

@media screen and (min-width: 319px) and (max-width: 767px){

  .header__lang-link{
    font-size: 18px;
    line-height: 20px;
  }
}