.footer {
  padding-top: 92px;
  padding-bottom: 24px;
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (min-width: 1023px) and (max-width: 1180px) {
  .footer{

    max-width: 928px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px){
  .footer{
    padding-top: 88px;
    max-width: 720px;
  }
}

@media screen and (min-width: 319px) and (max-width: 767px){
  .footer{
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 310px;
    padding-left: 16px;
  }
}